
<h1>Login</h1>

<form method="post">
    <input name="email" type="text" placeholder="email" /><br />
    <input name="pass" type="password" placeholder="password" /><br />
    <input type="submit" value="Login" /><br />

</form>
<p>@ViewBag.msg</p>
